.texto_1 {
  font-size: 40px;
}
.texto_2 {
  font-size: small;
}
.texto_3 {
  font-size: medium;
}
.texto_4 {
  font-size: large;
}
.texto_5 {
  font-size: xx-large;
}
.texto_6 {
  font-size: xx-small;
}
.texto_7 {
  font-size: 2%;
}
.texto_8 {
  font-size: 20%;
}
.texto_9 {
  font-size: 80%;
}
.texto_10 {
  font-size: 200%;
}
.texto_11 {
  font-size: 300%;
}
