body{
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  background-image: url(../images/background.jpg);
  background-position: center 0%;

}

table{
  text-align: left;
  width: 50%;
  background-color: rgb(255, 255, 153);
  margin-left: auto;
  margin-right: auto;
  height: 50%;
  border: solid 4px;
}

th, td{
  padding: 2px;
}

.encabezado{
  vertical-align: middle;
  background-color: white;
  text-align: center;
}

.celda{
  vertical-align: middle;
  text-align: center;
}

ol{
  list-style: decimal;
}

li>ol{
  list-style: lower-alpha;
}
